<%- include("partials/header") -%>
<h1>Home</h1>
<p><%=homeStartingContent%></p><br><hr>



<% posts.forEach(function(post) { %>
    <% let s = post.article.substring(0,100); %>
    <% if(post.article.length > 100) s += "..."%>
    <h2><a href = "/posts/<%=post.id%>" style = "color:#000"><%=post.title%></a></h2>
    <p><%=s%><%if(post.article.length > 100) {%><a href = "/posts/<%=post.id%>">Read More</a> <%}%></p><hr>
<% }); %>

<%- include("partials/footer") -%>